$white: #fff;
$black: #333;
$blue: #232E84;
$dk-blue: #161D53;
$gold: #FCCA04;
$lt-gray: #aaa;
$box-gray: #F4F4F4;
$text-gray: #515151;
$text-black: #666666;
$box-gray:#F7F7F7;
$form-gray:#ECECEC;
$error-red:#a94442;
